.card{
    box-shadow: 0px 6px 24px 0px rgba(156, 25, 25, 0.2);
}
.card-heading{
    margin-bottom: 3rem;
}
img {
  width: 100%;
}
.card-content {
  padding: 4.2rem 1.2rem;
  display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.average{
    background-color: #deb887;
}
.super_hit{
    background-color: #90ee90;
}
.rating {
  padding: 0.3rem 1.8rem;
  color: #000;
  margin-left: 1.2rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
.timepass{
    border: 2rem solid red
    };